{% extends "base.html" %}

{% block content %}
<h2>Declare a New Bounty</h2>
<form id="declareBountyForm">
    <label for="theorem">Theorem Statement:</label><br>
    <textarea id="theorem" name="theorem" rows="5" cols="60" placeholder="Enter the theorem statement here..." required
    style="width: 100%; height: 400px; font-family: monospace; white-space: pre; overflow-wrap: normal; resize: vertical;">{% raw %}-- Both the bounty and the submission should be valid Lean files
-- In the bounty, you can replace the entire proof (or anything else) with a sorry
-- In the submissions, all sorries should be defined

theorem self_eq_self (n : Nat) : n = n :=
  sorry{% endraw %}

    </textarea><br><br>

    <label for="bounty_amount">Bounty Amount (ETH):</label><br>
    <input type="number"
           id="bounty_amount"
           name="bounty_amount"
           step="0.0001"
           placeholder="e.g., 0.5"
           min="0"
           oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" required><br><br>

    <div id="statusMessage" style="display: none;"></div>

    <button type="submit">Declare Bounty</button>
</form>

<script src="{{ url_for('static', filename='js/declare_bounty.js') }}"></script>
{% endblock %}